@tailwind base;

@layer base {
  h1 {
    @apply text-4xl lg:text-6xl font-black;
  }
  h2 {
    @apply text-xl lg:text-3xl font-extrabold;
  }

  h3 {
    @apply text-base lg:text-xl font-bold;
  }

  a h2 {
    @apply text-base lg:text-3xl no-underline uppercase font-extrabold text-blue-light transition duration-300 ease-out hover:underline;
  }

  a h3 {
    @apply text-base lg:text-xl font-bold;
  }

  a h4 {
    @apply font-light text-lg;
  }

  h4 {
    @apply font-light text-lg;
  }

  p {
    @apply font-normal text-base;
  }

  input::placeholder {
    @apply text-base lg:text-3xl no-underline uppercase font-extrabold text-blue-light transition duration-300 ease-out hover:underline text-center;
  }

  a {
    @apply no-underline;
  }
}

@tailwind components;

@layer components {
  .banner-button {
    @apply transition duration-300 w-auto ease-in-out bg-red-main p-3 lg:p-8 rounded-xl hover:bg-blue-main inline-block;
  }
  .banner-button h2 {
    @apply font-mono text-white font-bold;
  }

  .router-link-exact-active.router-link-active h2 {
    @apply text-red-main;
  }

  #intro-section .excerpt p{
    @apply text-xl
  }

  .post-content-container {
    @apply w-full;
  }

  .post-content-container p{
    @apply w-full  m-auto my-3
  }

  .post-content-container p:first-of-type{
    @apply mt-12
  }

  .post-card{
    @apply border-4 border-red-main rounded-lg w-full md:w-3/4 m-auto  h-64 my-3
  }
  .post-card a div{
    @apply overflow-hidden
  }

  .wp-block-quote {
    @apply bg-black text-white font-mono p-5 w-3/4 mx-auto my-12;
  }

  .wp-block-quote p{
    @apply text-2xl
  }

  .wp-block-quote cite{
    @apply text-red-main text-3xl
  }
}
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .section-height {
      height: auto;
    }

    .home-card-height {
      height: 30rem;
    }
    .top-70 {
      top: 70%;
    }
  }
}
